body {
  background: #f3f3f3 !important;
}
.home-content {
  background: #e7e7e8;
  .container {
    padding: 3% 16%;
  }
}
.page-content {
  .container {
    padding: 0 16%;
  }
}

.title-subtitle-box {
  p {
    text-transform: uppercase;
    font-size: 30px;
  }
}

section#content {
  background: #fff;
}

#subheader {
  padding: 67px 0 0 0;
}

.title-subtitle-box {
  h1 {
    padding-top: 35px;
  }
}

.wpb-js-composer .wpb_content_element .widget ul {
  display: flex;
  justify-content: center;
}

.wpb-js-composer .vc_tta.vc_general .vc_tta-tabs-list .vc_tta-tab a {
  border-right: 0px solid red !important;
}

.vc_tta-tabs-container ul li:not(:last-child){
  border-right: 2px solid #B3ADAD !important;
}
